<link rel="stylesheet" type="text/css" href="styles.css"/>
<div class="login">
    <div class="container">
        <script src="error.js"></script>
        <div class="error">
            {{#if err}} error <h6>{{err}}</h6>{{/if}}
        </div>
        <input type="login" placeholder="Логин" id="login" name="login" required><br>
        <input type="password" placeholder="Пароль" id="password" name="password" required><br>
        <input type="button" class="logbutton" name="buttonlog" value="Войти" href="">
        <a class="forgotpassword" href="">Забыли пароль?</a>
    </div>
</div>
